USE [master]
GO
/****** Object:  Database [CarRentalDB]    Script Date: 17/04/2026 16.47.46 ******/
CREATE DATABASE [CarRentalDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CarRentalDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CarRentalDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CarRentalDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\CarRentalDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CarRentalDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CarRentalDB]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[role] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[last_login] [datetime2](7) NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[discount_id] [int] NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[phone_number] [nvarchar](20) NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[total_days]  AS (datediff(day,[start_date],[end_date])) PERSISTED,
	[base_price] [decimal](14, 2) NULL,
	[discount_amount] [decimal](14, 2) NOT NULL,
	[total_price] [decimal](14, 2) NULL,
	[ktp_filename] [nvarchar](255) NULL,
	[status] [nvarchar](20) NOT NULL,
	[notes] [nvarchar](max) NULL,
	[admin_notes] [nvarchar](max) NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CarAvailability]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CarAvailability](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[car_id] [int] NOT NULL,
	[block_start] [date] NOT NULL,
	[block_end] [date] NOT NULL,
	[reason] [nvarchar](100) NULL,
	[booking_id] [int] NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[brand] [nvarchar](50) NOT NULL,
	[price_per_day] [decimal](12, 2) NOT NULL,
	[transmission] [nvarchar](10) NOT NULL,
	[capacity] [tinyint] NOT NULL,
	[image_filename] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
	[features] [nvarchar](max) NULL,
	[is_available] [bit] NOT NULL,
	[year] [smallint] NULL,
	[license_plate] [nvarchar](20) NULL,
	[color] [nvarchar](30) NULL,
	[sort_order] [int] NOT NULL,
	[created_at] [datetime2](7) NULL,
	[updated_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[slug] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[icon] [nvarchar](10) NULL,
	[sort_order] [tinyint] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Discounts]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [nvarchar](30) NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[discount_type] [nvarchar](10) NOT NULL,
	[discount_value] [decimal](10, 2) NOT NULL,
	[min_days] [tinyint] NOT NULL,
	[max_uses] [int] NULL,
	[used_count] [int] NOT NULL,
	[valid_from] [date] NOT NULL,
	[valid_until] [date] NOT NULL,
	[apply_to] [nvarchar](20) NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 17/04/2026 16.47.47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](150) NULL,
	[rating] [tinyint] NOT NULL,
	[message] [nvarchar](2000) NOT NULL,
	[is_approved] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([id], [username], [password_hash], [full_name], [role], [is_active], [last_login], [created_at]) VALUES (1, N'admin', N'scrypt:32768:8:1$rrqMj3TNTN7oQSxd$624948e0d1c3115840e0082813e254d77fb39701f64206cd605851168dd7d3c1ea8ab5885768ea25d44768ddab9266c0e6c4cbf671609394f4698461b29f0ada', N'Super Admin', N'superadmin', 1, CAST(N'2026-04-04T14:22:53.1900000' AS DateTime2), CAST(N'2026-03-08T03:17:40.9400000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[CarAvailability] ON 

INSERT [dbo].[CarAvailability] ([id], [car_id], [block_start], [block_end], [reason], [booking_id], [created_at]) VALUES (1, 2, CAST(N'2026-03-09' AS Date), CAST(N'2026-03-12' AS Date), N'booked', NULL, CAST(N'2026-03-08T21:21:45.7133333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[CarAvailability] OFF
GO
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([id], [category_id], [name], [brand], [price_per_day], [transmission], [capacity], [image_filename], [description], [features], [is_available], [year], [license_plate], [color], [sort_order], [created_at], [updated_at]) VALUES (1, 1, N'Avanza G', N'Toyota', CAST(350000.00 AS Decimal(12, 2)), N'Manual', 7, N'avanza.jpg', N'MPV keluarga terpopuler, nyaman untuk 7 penumpang', NULL, 1, 2022, NULL, N'Silver', 0, CAST(N'2026-03-08T03:17:40.9500000' AS DateTime2), CAST(N'2026-03-08T03:17:40.9500000' AS DateTime2))
INSERT [dbo].[Cars] ([id], [category_id], [name], [brand], [price_per_day], [transmission], [capacity], [image_filename], [description], [features], [is_available], [year], [license_plate], [color], [sort_order], [created_at], [updated_at]) VALUES (2, 1, N'Brio Satya', N'Honda', CAST(300000.00 AS Decimal(12, 2)), N'Manual', 5, N'brio.jpg', N'City car lincah dan irit bahan bakar', NULL, 1, 2023, NULL, N'Merah', 0, CAST(N'2026-03-08T03:17:40.9500000' AS DateTime2), CAST(N'2026-03-08T03:17:40.9500000' AS DateTime2))
INSERT [dbo].[Cars] ([id], [category_id], [name], [brand], [price_per_day], [transmission], [capacity], [image_filename], [description], [features], [is_available], [year], [license_plate], [color], [sort_order], [created_at], [updated_at]) VALUES (3, 1, N'Xpander', N'Mitsubishi', CAST(450000.00 AS Decimal(12, 2)), N'Matic', 7, N'xpander.jpg', N'MPV premium dengan interior lapang dan modern', NULL, 1, 2023, NULL, N'Putih', 0, CAST(N'2026-03-08T03:17:40.9500000' AS DateTime2), CAST(N'2026-03-08T03:17:40.9500000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Cars] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([id], [name], [slug], [description], [icon], [sort_order], [is_active], [created_at]) VALUES (1, N'Personal', N'personal', N'Sewa mobil untuk kebutuhan pribadi & keluarga', N'??', 1, 1, CAST(N'2026-03-08T03:17:40.9433333' AS DateTime2))
INSERT [dbo].[Categories] ([id], [name], [slug], [description], [icon], [sort_order], [is_active], [created_at]) VALUES (2, N'Corporate', N'corporate', N'Armada bisnis untuk perusahaan & event korporat', N'??', 2, 1, CAST(N'2026-03-08T03:17:40.9433333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Discounts] ON 

INSERT [dbo].[Discounts] ([id], [code], [name], [description], [discount_type], [discount_value], [min_days], [max_uses], [used_count], [valid_from], [valid_until], [apply_to], [is_active], [created_at]) VALUES (1, N'HEMAT10', N'Diskon 10% Semua Kategori', N'Masukkan kode untuk hemat 10%', N'percent', CAST(10.00 AS Decimal(10, 2)), 2, NULL, 1, CAST(N'2024-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'all', 1, CAST(N'2026-03-08T03:17:40.9600000' AS DateTime2))
INSERT [dbo].[Discounts] ([id], [code], [name], [description], [discount_type], [discount_value], [min_days], [max_uses], [used_count], [valid_from], [valid_until], [apply_to], [is_active], [created_at]) VALUES (2, N'CORP20', N'Promo Korporat 20%', N'Khusus sewa korporat min. 3 hari', N'percent', CAST(20.00 AS Decimal(10, 2)), 3, NULL, 0, CAST(N'2024-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'corporate', 1, CAST(N'2026-03-08T03:17:40.9600000' AS DateTime2))
INSERT [dbo].[Discounts] ([id], [code], [name], [description], [discount_type], [discount_value], [min_days], [max_uses], [used_count], [valid_from], [valid_until], [apply_to], [is_active], [created_at]) VALUES (3, N'WEEKDAY', N'Cashback Rp 50.000', N'Sewa weekday hemat flat', N'fixed', CAST(50000.00 AS Decimal(10, 2)), 1, NULL, 0, CAST(N'2024-01-01' AS Date), CAST(N'2026-12-31' AS Date), N'all', 1, CAST(N'2026-03-08T03:17:40.9600000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Discounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([id], [name], [email], [rating], [message], [is_approved], [created_at]) VALUES (1, N'Jodi Ganteng', N'jodiganteng@gmail.com', 5, N'Sudah bagus', 1, CAST(N'2026-04-04T14:27:03.150' AS DateTime))
INSERT [dbo].[Reviews] ([id], [name], [email], [rating], [message], [is_approved], [created_at]) VALUES (2, N'Jodi Keren', N'jodikeren@gmail.com', 4, N'Fitur dan mobil yang ditawarkan cukup beragam, hanya untuk pembayaran masih perlu konfirmasi whatsapp', 1, CAST(N'2026-04-04T14:28:54.387' AS DateTime))
INSERT [dbo].[Reviews] ([id], [name], [email], [rating], [message], [is_approved], [created_at]) VALUES (3, N'Adiya Ganteng', N'adiyaganteng@gmail.com', 5, N'Fitur keren harga murah', 1, CAST(N'2026-04-04T15:28:29.567' AS DateTime))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__AdminUse__F3DBC572083AA9F0]    Script Date: 17/04/2026 16.47.47 ******/
ALTER TABLE [dbo].[AdminUsers] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_Car]    Script Date: 17/04/2026 16.47.47 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Car] ON [dbo].[Bookings]
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Bookings_Status]    Script Date: 17/04/2026 16.47.47 ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_Status] ON [dbo].[Bookings]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Availability_Car]    Script Date: 17/04/2026 16.47.47 ******/
CREATE NONCLUSTERED INDEX [IX_Availability_Car] ON [dbo].[CarAvailability]
(
	[car_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_Available]    Script Date: 17/04/2026 16.47.47 ******/
CREATE NONCLUSTERED INDEX [IX_Cars_Available] ON [dbo].[Cars]
(
	[is_available] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cars_Category]    Script Date: 17/04/2026 16.47.47 ******/
CREATE NONCLUSTERED INDEX [IX_Cars_Category] ON [dbo].[Cars]
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__32DD1E4CCC7B85EC]    Script Date: 17/04/2026 16.47.47 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Discount__357D4CF9AF15543D]    Script Date: 17/04/2026 16.47.47 ******/
ALTER TABLE [dbo].[Discounts] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ('admin') FOR [role]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ((0)) FOR [discount_amount]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[CarAvailability] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT ((1)) FOR [is_available]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Cars] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [sort_order]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((1)) FOR [min_days]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((0)) FOR [used_count]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ('all') FOR [apply_to]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[Discounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((1)) FOR [is_approved]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Cars] ([id])
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD FOREIGN KEY([discount_id])
REFERENCES [dbo].[Discounts] ([id])
GO
ALTER TABLE [dbo].[CarAvailability]  WITH CHECK ADD FOREIGN KEY([car_id])
REFERENCES [dbo].[Cars] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[Categories] ([id])
GO
ALTER TABLE [dbo].[AdminUsers]  WITH CHECK ADD CHECK  (([role]='admin' OR [role]='superadmin'))
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='completed' OR [status]='confirmed' OR [status]='pending'))
GO
ALTER TABLE [dbo].[CarAvailability]  WITH CHECK ADD  CONSTRAINT [CK_availability_dates] CHECK  (([block_end]>=[block_start]))
GO
ALTER TABLE [dbo].[CarAvailability] CHECK CONSTRAINT [CK_availability_dates]
GO
ALTER TABLE [dbo].[Cars]  WITH CHECK ADD CHECK  (([transmission]='Matic' OR [transmission]='Manual'))
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD CHECK  (([apply_to]='corporate' OR [apply_to]='personal' OR [apply_to]='all'))
GO
ALTER TABLE [dbo].[Discounts]  WITH CHECK ADD CHECK  (([discount_type]='fixed' OR [discount_type]='percent'))
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
USE [master]
GO
